portal_image: "registry.gitlab.example.ru/example/ops/portal:latest"

portal_registry_url: "registry.gitlab.example.ru"
portal_registry_username: "username"
portal_registry_password: "token"
portal_registry_login: true

portal_root: "/opt/portal"

portal_env:
  PORTAL_AUTH_TOKEN: "token"